<p id="notice"><%= notice %></p>

<h1>Listing Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Photo</th>
      <th>User</th>
      <th>Latitude, Longitude</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.description %></td>
        <td><%= hotel.location %></td>
        <td><%= image_tag(hotel.photo.url(:thumb)) %> <%= hotel.photo_id %> </td>
        <!-- In order to use the @hotel.user.name shortcut, you have to define your has_many() and belongs_to() relationships in the models #MDM -->
        <td><%= hotel.user_id %>. <%= show_user_link(hotel.user_id, hotel.user.name ) %>
</td>
        <!-- Geocoder I suggest adding an if latitude or longitude != nil here #MDM-->
        <td><%= hotel.latitude.round(2) %>, <%= hotel.longitude.round(2) %>
</td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if signed_in? %>
  <%= link_to 'New Hotel', new_hotel_path %>
<% end %>